<div style="color: white;padding-top:18px;text-align:center;background-color:#257662;border-radius:15px;border: 1px solid white;"> 
    <h3>Exercise 1 (Basic) </h3>
</div>

<div style="color: white;padding-top:18px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 01:</h4>
    <p>1. Change the type of each of the following variables to the requested type.</p>
</div>

##### convert to int

In [31]:
# Section 1 code : Correct
num1 = 12.45
num1 = int(num1)
print(num1)

12

In [32]:
# Section 2 code : Not Correct
num2 = "12.45"       # num2 is string
num2 = int(num2)     # string can not cast to integer, we can first cast to float and the result to intger, like following code
print(num2)

ValueError: invalid literal for int() with base 10: '12.45'

In [33]:
# Section 2 code : Corrector
num2 = "12.45"
num2 = float(num2)
num2 = int(num2)   
print(num2)        # Now It is correct

12

In [34]:
# Section 3 code : Correct
flag1 = True
flag1 = int(flag1)
print(flag1)

1

In [36]:
# Section 4 code : Not Correct
code = "a123"      # code is string and mixes alphabet and numbers, than can not cast to float or int
code = int(code)   # without "a" can change to int like following code 
print(code)

ValueError: invalid literal for int() with base 10: 'a123'

In [38]:
# Section 4 code : Corrector
code = "123"        
code = int(code)
print(code)

123

In [39]:
# Section 5 code : Correct
num3 = "0123"
num3 = int(num3)
print(num3)

123

##### convert to float

In [40]:
# Section 1 code : Correct
num4 = 10
num4 = float(num4)
print(num4)

10.0

In [41]:
# Section 2 code : Correct
num5 = 4.
num5 = float(num5)
print(num5)

4.0

In [42]:
# Section 3 code : Correct
num6 = "4.7"
num6 = float(num6)
print(num6)

4.7

In [43]:
# Section 4 code : Correct
num7 = "51"
num7 = float(num7)
print(num7)

51.0

In [45]:
# Section 5 code : Not Correct
name = "python"    # name is string and mixed of alphabet. we can not change to float because name is mixed of alphabet not numbers.
name = float(name)
print(name)

ValueError: could not convert string to float: 'python'

##### convert to bool

In [46]:
# Section 1 code : Correct
flag3 = False
flag3 = bool(flag3)
print(flag3)

False

In [47]:
# Section 2 code : Correct
flag4 = "False"
flag4 = bool(flag4)
print(flag4)

True

In [49]:
# Section 3 code : Not Correct
flag5 = false           # false is differt as False, False is boolean. not false. f and F are different and python take care about great or small alphabet
flag5 = bool(flag5)     # we can correct it like the following code
print(flag5)

NameError: name 'false' is not defined

In [50]:
# Section 3 code : Corrector
flag5 = False    
flag5 = bool(flag5)   
print(flag5)

False

In [51]:
# Section 4 code : Correct
name1 = ""
name1 = bool(name1)
print(name1)

False

In [52]:
# Section 5 code : Correct
name2 = " "
name2 = bool(name2)
print(name2)

True

In [53]:
# Section 6 code : Correct
num8 = 0
num8 = bool(num8)
print(num8)

False

##### convert to str

In [54]:
# Section 1 code : Correct
flag = False
flag = str(flag)
print(flag)

False

In [55]:
# Section 2 code : Correct
num = 0.000
num = str(num)
print(num)

0.0

<div style="color: white;padding-top:18px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 02 </h4>
<p>Explain the results of the following codes step by step, and if there are
errors, explain the reason for the error and fix it.</p>

</div>

#### Section 1

In [29]:
# Section 1 code: Not Correct
x = "300"         # x = "300" x is now String, not digit
y = int(x)        # cast (convert) x to an integer and asign to y, now y = 300 and integer
z = y + 200       # z = 300 + 200 ==> z = 500 and integer
a = float(z)      # cast (convert) z to float (500.0) and asign to a, now a = 500.0 and float
b = a + x         # a is float and x ist string, Error: can not add float to string, b is not defeined
c = int(b) + 100  # b is not defined, Error

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [56]:
# Section 1 code : Correct
x = "300"         # x = "300" , x is now String, not digit
x = int(x)        # cast (convert) x to an integer and asign to x, now x = 300 and integer
z = x + 200       # z = 300 + 200 ==> z = 500 and integer
a = float(z)      # cast (convert) z to float (500.0) and asign to a, now a = 500.0 and float
b = a + x         # b = 500.0 + 300 (float + int) ==> (no problem) b = 800.0 and float
c = int(b) + 100  # c = int(800.0) + 100 ==> c = 800+100 ==> c = 900 and integer
print("a =",a,type(a))
print("b =",b,type(b))
print("c =",c,type(c))

a = 500.0 <class 'float'>
b = 800.0 <class 'float'>
c = 900 <class 'int'>

In [57]:
# Section 2 code : Correct
x = "250"       # x = "250" , x is now String, not digit
y = int(x)      # cast (convert) x to an integer and asign to y, now y = 250 and integer
z = y // 3      # z = 250 // 3 ==> z = 83 and integer
a = str(z)      # cast (convert) z to string and asign to a, now a = "83" and string
b = a + x       # a and x are string, b = join of(a and x) ==> b = "83"+"250" ==> b = "83250" and string
c = int(b) // 2 # cast (convert) b to an integer (83250) than 83250 // 2 ==> now c = 41625 and integer
print("a =",a,type(a))
print("b =",b,type(b))
print("c =",c,type(c))
print("x =",x,type(x))
print("y =",y,type(y))
print("z =",z,type(z))

a = 83 <class 'str'>
b = 83250 <class 'str'>
c = 41625 <class 'int'>
x = 250 <class 'str'>
y = 250 <class 'int'>
z = 83 <class 'int'>

<div style="color: white;padding-top:18px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 03 </h4>
<p>Prompt the user for a string. Output True for "yes" or "no” inputs, and False for
all other inputs, without using conditional statements.</p>

</div>

In [59]:
answer1 = input("Please say your answer (Yes/No): ").lower()
result1 = False
result1 = answer1 == "yes" or answer1 == "no"
print(result1)       # For example input is "Yes"

True

<div style="color: white;padding-top:18px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 04 </h4>
<p>Prompt the user to enter a string. Print True if the string is non-empty
and False otherwise, without using any conditional statements (if, elif, else).</p>

</div>

In [61]:
answer2 = input("Please Enter or type something: ")
result2 = True
result2 = answer2 != ""
print(result2)      # For example input is "pp"

True

<div style="color: white;padding-top:18px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 05 </h4>
<p>write a program that prompts the user to enter a temperature in Celsius. Your
program should then convert this temperature to Fahrenheit and print the result.</p>

</div>

In [62]:
answer3 = input("Please enter a temperature in Celsius: ")
result3 = float(answer3) * 1.8 + 32
print( "your temperatur in farnheit is ", result3)   # For example input is 45.6

your temperatur in farnheit is  212.0

<div style="color: white;padding-top:18px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 06 </h4>
<p>Explain the results of the following codes, and if there are errors, explain
the reason for the error and fix it.
</p>

</div>

In [63]:
# Section 1: Correct
num1, num2, num3 = 17, 1.8, 28    # man can asign many variables with different types with these form
print("num1 =",num1,type(num1))   # num1 = 17 and int
print("num2 =",num2,type(num2))   # num2 = 1.8 and float
print("num3 =",num3,type(num3))   # num3 = 28 and int

num1 = 17 <class 'int'>
num2 = 1.8 <class 'float'>
num3 = 28 <class 'int'>

In [64]:
# Section 2:(not Correct)
num4, num5 = 45, 12, 19 # 2 varibles and 3 values!! Error, the number of Variebles and values must be equal
                        # hier 2 Variables and 3 results (not equal) ==> Error!!

ValueError: too many values to unpack (expected 2)

<h2 style="color: blue:; background-color: purple">Good luck</h2>